:root {
  --color-blue: #071fc8;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-z-black: #1d1d1d;
  --color-grey: #efefef;
  --color-orange: #ff7143;
  --color-pink: #ff005a;
  --color-red: red;
  --color-green: green;
}

// Background Images
$bgImg1: "https://s3.ap-south-1.amazonaws.com/imabhi.in/bgimg1.png";
$bgImg2: "https://s3.ap-south-1.amazonaws.com/imabhi.in/bgimg2.png";

// Images
$map: "https://s3.ap-south-1.amazonaws.com/imabhi.in/map.png";
