:root {
  --color-blue: #071fc8;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-z-black: #1d1d1d;
  --color-grey: #efefef;
  --color-orange: #ff7143;
  --color-pink: #ff005a;
  --color-red: red;
  --color-green: green;
}

// Background Images
//$bgImg1: "https://drive.google.com/file/d/1WpW0_wW1GeW0KSPGjyNUQE8-LXTCnVjK/view?usp=sharing";
//$bgImg2: "https://drive.google.com/file/d/146nf9c4At4_hEpWya0GNwCM9m7EJWbv_/view?usp=sharing";

// Images
//$map: "https://s3.ap-south-1.amazonaws.com/imabhi.in/map.png";
