@import "../../styles/theme";

.contact {
  padding-top: 56px;
  background-image: url("../../assets/imgs/bgimg1.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
  .contact-heading {
    width: 100%;
    padding: 60px 0;
    text-align: center;
  }
  .contact-content {
    background: var(--color-white);
    padding: 50px;
    margin-bottom: 50px;
    box-shadow: 0 5px 15px 0 rgba(239, 239, 239, 0.5);
  }
  .name {
    color: var(--color-pink);
    text-transform: uppercase;
  }
}

.follow-me {
  margin-bottom: 50px;
  text-align: center;
  ul {
    padding-inline-start: 0px;
    list-style: none;
    li {
      display: inline;
      margin: 10px;
      img {
        transition: all 0.3s ease;
        width: 25px;
        height: 25px;
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      }
      img:hover {
        transition: all 0.3s ease;
        filter: grayscale(0%);
        -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
      }
    }
  }
}

.address {
  margin: auto;

  span {
    font-size: 12px;
  }
  p {
    font-size: 16px;
  }
  a {
    color: var(--color-z-black);
  }
}

.map-wrapper {
  height: 200px;
  width: 100%;
}

.map-text {
  font-family: "chiller", sans-serif;
  color: var(--color-white);
  width: 40px;
  height: 40px;
  font-size: 18px;
  background: #000;
  padding: 5px;
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
  .contact {
    background-image: none;
    background-color: var(--color-white);
    .contact-content {
      padding: 50px 0;
      background: transparent;
      box-shadow: 0 0px 0px 0 rgba(239, 239, 239, 0.5);
    }
  }
}
